/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 428px;
  height: 148px;
  margin: auto;
  background: #ffffff;
}
header {
  background-color: #d7a1fd;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img {
  align-items: center;
  display: block;
  height: 285px;
  flex-shrink: 0;
}
header {
  display: flex;
  font-family: Nunito Sans;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #d7a1fd;
  line-height: 36px;
  width: 428px;
  height: 148px;
  justify-content: center;
  align-items: flex-end;
}
main {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 25px;
  line-height: 36px;
}
h1 {
  color: #000;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
}
h2 {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
}
header h2 {
  color: #fff;
  text-align: center;
  font-family: Noto Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
}

p {
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 100% */
}
.Titre-carte {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
}
.card-1 {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.card-2 {
  border: 1px solid #000;
  margin-top: 20px;
}
.card-3 {
  margin-left: 20px;
  margin-right: 20px;
  height: 409px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
}
.Whats-new {
  width: 428px;
  height: 1016px;
  flex-shrink: 0;
  background: #f4ede8;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 428px;
  height: 62px;
  flex-shrink: 0;
  margin-bottom: 50px;
}
nav p {
  color: #fff;
  font-family: Noto Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
}
.citation {
  width: 428px;
  height: 187px;
  flex-shrink: 0;
  background: #98fb00;
}
.citation h3 {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px; /* 93.333% */
  letter-spacing: -1.5px;
  text-transform: uppercase;
}
.citation p {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 100% */
  text-transform: uppercase;
}
.card-3 img {
  width: 388px;
  height: 258.997px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.Opportunities p {
  display: flex;
  color: #000;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -1px;
  width: 428px;
  height: 64px;
  background: #98fb00;
  align-items: center;
  justify-content: space-around;
  sottobosco: workshop call out;
}
.Opportunities h1 {
  width: 428px;
  flex-shrink: 0;
  background-color: #d7a1fd;
  text-align: center;
}
}
