/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 428px;
  height: 148px;
  margin: auto;
  background: #ffffff;
}
header {
  background-color: #d7a1fd;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img {
  align-items: center;
  display: block;
  height: 285px;
  flex-shrink: 0;
}
header {
  display: flex;
  font-family: Nunito Sans;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #d7a1fd;
  line-height: 36px;
  width: 428px;
  height: 148px;
  justify-content: center;
  align-items: flex-end;
}
main {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 25px;
  line-height: 36px;
}
h1 {
  color: #000;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
}
h2 {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
}
header h2 {
  color: #fff;
  text-align: center;
  font-family: Noto Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
}

p {
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 100% */
}
.Titre-carte {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
}
.card-1 {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.card-2 {
  border: 1px solid #000;
  margin-top: 20px;
}
.card-3 {
  margin-left: 20px;
  margin-right: 20px;
  height: 409px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
}
}
