/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 428px;
  height: 148px;
  margin: auto;
  background: #ffffff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 259px;
  flex-shrink: 0;
}
.note {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #d7a1fd;
  line-height: 36px;
}
}
